[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/sherulfernando2000/NextEvent-Project-Platform-Api-Gateway.git
[submodule "service-registry"]
	path = service-registry
	url = https://github.com/sherulfernando2000/NextEvent-Project-Platform-Service-Registry.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/sherulfernando2000/NextEvent-Project-Platform-Config-Server.git
